<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project xmlns:con="http://eviware.com/soapui/config" id="e8de09f9-3717-451a-bdb9-0176d670a0a1" created="3.64.0" activeEnvironment="QADAILY" encryptionMode="Not encrypted" name="Enterprise Flutter Project(Internal APIs)" compositeProjectFormat="1.3" projectVersion="" updated="3.62.0">
  <con:settings>
    <con:setting id="e8de09f9-3717-451a-bdb9-0176d670a0a1fileName">Project-1-readyapi-project</con:setting>
  </con:settings>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>TestCaseID</con:name>
    </con:property>
    <con:property>
      <con:name>TestCaseStatus</con:name>
    </con:property>
    <con:property>
      <con:name>WorkingEnv</con:name>
    </con:property>
    <con:property>
      <con:name>TestCaseComment</con:name>
    </con:property>
    <con:property>
      <con:name>TimeTaken</con:name>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
    </con:property>
    <con:property>
      <con:name>FailedTestStep</con:name>
    </con:property>
    <con:property>
      <con:name>projectID</con:name>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to ReadyAPI functional tests

// If hardcoding the token, uncomment and change line 5
// token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
// Change the directory path in line 5 to a location where you want to store details
// then uncomment lines 5 to 10

// filePath = 'C:\\tempOutputDirectory\\'
// fos = new java.io.FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
// pw = new java.io.PrintWriter(fos)
// testStepResult.writeTo(pw)
// pw.close()
// fos.close()</con:script>
  </con:eventHandlers>
  <con:environment id="48df59ab-9fb8-436f-9c77-264e6f1193e7" name="QADAILY" index="0">
    <con:service type="REST" name="cmic-uac-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-jc-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-crm-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-cf-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-lem-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily</con:endpoint>
    </con:service>
    <con:property>
      <con:name>TestCaseID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseStatus</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>WorkingEnv</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseComment</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TimeTaken</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value>13411</con:value>
    </con:property>
    <con:property>
      <con:name>FailedTestStep</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>projectID</con:name>
      <con:value>46</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value>5hw6TPvTZYe1vD4LAI/0-nXyq/Wq3tjhKLgKZXOlS</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value>Ramandeep.Jain@cmic.ca</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value>https://cmic.testrail.io/index.php?/api/v2</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="adeb508a-495c-47b8-9884-91be0504cb65" name="QADAILY2" index="1">
    <con:service type="REST" name="cmic-uac-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily2</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-crm-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily2</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-jc-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily2</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-lem-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily2</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-cf-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily2</con:endpoint>
    </con:service>
    <con:property>
      <con:name>TestCaseID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseStatus</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>WorkingEnv</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseComment</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TimeTaken</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FailedTestStep</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>projectID</con:name>
      <con:value>46</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value>5hw6TPvTZYe1vD4LAI/0-nXyq/Wq3tjhKLgKZXOlS</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value>Ramandeep.Jain@cmic.ca</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value>https://cmic.testrail.io/index.php?/api/v2</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="29115ffe-145f-44e6-a1f7-45b26f33e93e" name="QALATEST" index="2">
    <con:service type="REST" name="cmic-uac-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qalatestmob.cmicpaas.com/cmicqalatest</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-crm-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qalatestmob.cmicpaas.com/cmicqalatest</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-jc-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qalatestmob.cmicpaas.com/cmicqalatest</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-lem-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qalatestmob.cmicpaas.com/cmicqalatest</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-cf-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qalatestmob.cmicpaas.com/cmicqalatest</con:endpoint>
    </con:service>
    <con:property>
      <con:name>TestCaseID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseStatus</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>WorkingEnv</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseComment</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TimeTaken</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FailedTestStep</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>projectID</con:name>
      <con:value>46</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value>5hw6TPvTZYe1vD4LAI/0-nXyq/Wq3tjhKLgKZXOlS</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value>Ramandeep.Jain@cmic.ca</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value>https://cmic.testrail.io/index.php?/api/v2</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="b5ec2841-29b5-46fd-b5ce-4131d9626d74" name="QAPRIOR" index="3">
    <con:service type="REST" name="cmic-uac-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqaprior</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-crm-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqaprior</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-jc-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqaprior</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-lem-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqaprior</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-cf-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqaprior</con:endpoint>
    </con:service>
    <con:property>
      <con:name>TestCaseID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseStatus</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>WorkingEnv</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseComment</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TimeTaken</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FailedTestStep</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>projectID</con:name>
      <con:value>46</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value>5hw6TPvTZYe1vD4LAI/0-nXyq/Wq3tjhKLgKZXOlS</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value>Ramandeep.Jain@cmic.ca</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value>https://cmic.testrail.io/index.php?/api/v2</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="c6f15ecf-b67c-4a3e-b574-685e816480d9" name="NOVA PROD" index="4">
    <con:service type="REST" name="cmic-uac-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://nova-api.cmiccloud.com/cmicprod</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-crm-rest-api">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://nova-api.cmiccloud.com/cmicprod</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-jc-rest-api">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://nova-api.cmiccloud.com/cmicprod</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-lem-rest-api">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://nova-api.cmiccloud.com/cmicprod</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-cf-rest-api">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://nova-api.cmiccloud.com/cmicprod</con:endpoint>
    </con:service>
    <con:property>
      <con:name>TestCaseID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseStatus</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>WorkingEnv</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseComment</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TimeTaken</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FailedTestStep</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>projectID</con:name>
      <con:value>46</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value>5hw6TPvTZYe1vD4LAI/0-nXyq/Wq3tjhKLgKZXOlS</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value>Ramandeep.Jain@cmic.ca</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value>https://cmic.testrail.io/index.php?/api/v2</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="3ac2367f-7c3a-4624-9907-a6de4d8e254c" name="NOVA TEST" index="5">
    <con:service type="REST" name="cmic-uac-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://nova-mobile-test.cmiccloud.com/cmictest</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-crm-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://nova-mobile-test.cmiccloud.com/cmictest</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-jc-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://nova-mobile-test.cmiccloud.com/cmictest</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-lem-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://nova-mobile-test.cmiccloud.com/cmictest</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-cf-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://nova-mobile-test.cmiccloud.com/cmictest</con:endpoint>
    </con:service>
    <con:property>
      <con:name>TestCaseID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseStatus</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>WorkingEnv</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseComment</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TimeTaken</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FailedTestStep</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>projectID</con:name>
      <con:value>46</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value>5hw6TPvTZYe1vD4LAI/0-nXyq/Wq3tjhKLgKZXOlS</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value>Ramandeep.Jain@cmic.ca</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value>https://cmic.testrail.io/index.php?/api/v2</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="7f04ef6b-0932-4c01-a1b5-687ac3090b4f" name="ATLAS PROD" index="6">
    <con:service type="REST" name="cmic-uac-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://atlas-api.cmiccloud.com/cmicprod</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-crm-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://atlas-api.cmiccloud.com/cmicprod</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-jc-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://atlas-api.cmiccloud.com/cmicprod</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-lem-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://atlas-api.cmiccloud.com/cmicprod</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-cf-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://atlas-api.cmiccloud.com/cmicprod</con:endpoint>
    </con:service>
    <con:property>
      <con:name>TestCaseID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseStatus</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>WorkingEnv</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseComment</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TimeTaken</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value>13727</con:value>
    </con:property>
    <con:property>
      <con:name>FailedTestStep</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>projectID</con:name>
      <con:value>46</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value>5hw6TPvTZYe1vD4LAI/0-nXyq/Wq3tjhKLgKZXOlS</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value>Ramandeep.Jain@cmic.ca</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value>https://cmic.testrail.io/index.php?/api/v2</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="dc8e31ee-1f6a-4251-a524-b3c213e112b3" name="ATLAS TEST" index="7">
    <con:service type="REST" name="cmic-uac-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://atlas-api-test.cmiccloud.com/cmictest</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-crm-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://atlas-api-test.cmiccloud.com/cmictest</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-jc-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://atlas-api-test.cmiccloud.com/cmictest</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-lem-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://atlas-api-test.cmiccloud.com/cmictest</con:endpoint>
    </con:service>
    <con:service type="REST" name="cmic-cf-rest-api">
      <con:endpoint authProfile="Inherit From Parent" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://atlas-api-test.cmiccloud.com/cmictest</con:endpoint>
    </con:service>
    <con:property>
      <con:name>TestCaseID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseStatus</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>WorkingEnv</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestCaseComment</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TimeTaken</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FailedTestStep</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>projectID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository>
    <con:basicAuthEntry>
      <con:name>raman</con:name>
      <con:type>Basic</con:type>
      <con:username>raman2</con:username>
      <con:password>raman91827</con:password>
      <con:preemptive>true</con:preemptive>
    </con:basicAuthEntry>
    <con:basicAuthEntry>
      <con:name>QALATEST (Raman)</con:name>
      <con:type>Basic</con:type>
      <con:username>raman</con:username>
      <con:password>raman1</con:password>
      <con:preemptive>true</con:preemptive>
    </con:basicAuthEntry>
    <con:basicAuthEntry>
      <con:name>NOVA CLOUD</con:name>
      <con:type>Basic</con:type>
      <con:username>R12CLOUD||APIUSER1</con:username>
      <con:password>qA1@wVd5|H</con:password>
      <con:preemptive>true</con:preemptive>
    </con:basicAuthEntry>
    <con:basicAuthEntry>
      <con:name>ATLAS CLOUD</con:name>
      <con:type>Basic</con:type>
      <con:username>SOLUTIONS||APIUSER1</con:username>
      <con:password>qA1@wVd5|H</con:password>
      <con:preemptive>true</con:preemptive>
    </con:basicAuthEntry>
  </con:authRepository>
  <con:environmentSpec>
    <con:entry environmentId="48df59ab-9fb8-436f-9c77-264e6f1193e7">
      <con:authProfile>raman</con:authProfile>
    </con:entry>
    <con:entry environmentId="adeb508a-495c-47b8-9884-91be0504cb65">
      <con:authProfile>raman</con:authProfile>
    </con:entry>
    <con:entry environmentId="29115ffe-145f-44e6-a1f7-45b26f33e93e">
      <con:authProfile>QALATEST (Raman)</con:authProfile>
    </con:entry>
    <con:entry environmentId="b5ec2841-29b5-46fd-b5ce-4131d9626d74">
      <con:authProfile>raman</con:authProfile>
    </con:entry>
    <con:entry environmentId="c6f15ecf-b67c-4a3e-b574-685e816480d9">
      <con:authProfile>NOVA CLOUD</con:authProfile>
    </con:entry>
    <con:entry environmentId="3ac2367f-7c3a-4624-9907-a6de4d8e254c">
      <con:authProfile>NOVA CLOUD</con:authProfile>
    </con:entry>
    <con:entry environmentId="7f04ef6b-0932-4c01-a1b5-687ac3090b4f">
      <con:authProfile>ATLAS CLOUD</con:authProfile>
    </con:entry>
    <con:entry environmentId="dc8e31ee-1f6a-4251-a524-b3c213e112b3">
      <con:authProfile>ATLAS CLOUD</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>
