<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="con:RestService" id="37f4c0a2-1307-4ce2-ad27-5ca4b9bacdfd" lastUpdated="2026-01-26T12:59:23.336-05:00" name="cmic-uac-rest-api" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification">
  <con:settings id="538ba389-7703-4341-97db-301d6f51f63b">
    <con:setting id="37f4c0a2-1307-4ce2-ad27-5ca4b9bacdfdfileName">cmic-uac-rest-api</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="cmic-uac-rest-api.json">
    <con:part>
      <con:url>cmic-uac-rest-api.json</con:url>
      <con:content>{"openapi":"3.1.0","info":{"title":"cmic-uac-rest-api","description":"","version":"1.0.0"},"servers":[],"paths":{}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
</con:interface>
